<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>em_001</key>
	<string>/吸烟</string>
	<key>em_002</key>
	<string>/闭嘴</string>
	<key>em_003</key>
	<string>/黑脸</string>
	<key>em_004</key>
	<string>/强大</string>
	<key>em_005</key>
	<string>/再见</string>
	<key>em_006</key>
	<string>/骷髅</string>
	<key>em_007</key>
	<string>/可爱</string>
	<key>em_008</key>
	<string>/哭</string>
	<key>em_009</key>
	<string>/疑问</string>
	<key>em_010</key>
	<string>/傲慢</string>
	<key>em_011</key>
	<string>/难受</string>
	<key>em_013</key>
	<string>/阴险</string>
	<key>em_012</key>
	<string>/右哼</string>
	<key>em_014</key>
	<string>/哈哈</string>
	<key>em_015</key>
	<string>/困了</string>
	<key>em_016</key>
	<string>/抓狂</string>
	<key>em_017</key>
	<string>/鼓掌</string>
	<key>em_018</key>
	<string>/晕了</string>
	<key>em_019</key>
	<string>/撇嘴</string>
	<key>em_020</key>
	<string>/鄙视</string>
	<key>em_021</key>
	<string>/糗大</string>
	<key>em_022</key>
	<string>/龇牙</string>
	<key>em_023</key>
	<string>/抠鼻</string>
	<key>em_024</key>
	<string>/偷笑</string>
	<key>em_025</key>
	<string>/大牙</string>
	<key>em_026</key>
	<string>/奋斗</string>
	<key>em_027</key>
	<string>/可怜</string>
	<key>em_028</key>
	<string>/发呆</string>
	<key>em_029</key>
	<string>/白眼</string>
	<key>em_030</key>
	<string>/咒骂</string>
	<key>em_031</key>
	<string>/吓吓</string>
	<key>em_032</key>
	<string>/吃惊</string>
	<key>em_033</key>
	<string>/哈气</string>
	<key>em_034</key>
	<string>/大哭</string>
	<key>em_035</key>
	<string>/尴尬</string>
	<key>em_036</key>
	<string>/锤子</string>
	<key>em_037</key>
	<string>/难过</string>
	<key>em_038</key>
	<string>/发怒</string>
	<key>em_039</key>
	<string>/色色</string>
	<key>em_040</key>
	<string>/委屈</string>
	<key>em_041</key>
	<string>/猪头</string>
	<key>em_042</key>
	<string>/微笑</string>
	<key>em_043</key>
	<string>/害羞</string>
	<key>em_044</key>
	<string>/左哼</string>
	<key>em_045</key>
	<string>/坏笑</string>
	<key>em_046</key>
	<string>/睡着</string>
	<key>em_047</key>
	<string>/亲亲</string>
	<key>em_048</key>
	<string>/酷酷</string>
	<key>em_049</key>
	<string>/流汗</string>
	<key>em_050</key>
	<string>/调皮</string>
	<key>em_051</key>
	<string>/瞪眼</string>
	<key>em_052</key>
	<string>/擦汗</string>
	<key>em_053</key>
	<string>/失落</string>
	<key>em_054</key>
	<string>/嘘嘘</string>
	<key>em_055</key>
	<string>/非典</string>
	<key>em_056</key>
	<string>/笑哭</string>
	<key>em_057</key>
	<string>/鬼脸</string>
	<key>em_058</key>
	<string>/闭眼</string>
	<key>em_059</key>
	<string>/呆呆</string>
	<key>em_060</key>
	<string>/惊恐</string>
	<key>em_061</key>
	<string>/恶魔</string>
	<key>em_062</key>
	<string>/爱心</string>
	<key>em_0 63</key>
	<string>/生日</string>
	<key>em_064</key>
	<string>/礼物</string>
	<key>em_065</key>
	<string>/喝彩</string>
	<key>em_066</key>
	<string>/吃饭</string>
	<key>em_067</key>
	<string>/炸弹</string>
	<key>em_068</key>
	<string>/足球</string>
	<key>em_069</key>
	<string>/大便</string>
	<key>em_070</key>
	<string>/太阳</string>
	<key>em_071</key>
	<string>/强</string>
	<key>em_072</key>
	<string>/弱</string>
	<key>em_073</key>
	<string>/握手</string>
	<key>em_074</key>
	<string>/胜利</string>
	<key>em_075</key>
	<string>/抱拳</string>
	<key>em_076</key>
	<string>/勾引</string>
	<key>em_077</key>
	<string>/拳头</string>
	<key>em_078</key>
	<string>/差劲</string>
	<key>em_079</key>
	<string>/爱你</string>
	<key>em_080</key>
	<string>/不</string>
	<key>em_081</key>
	<string>/没问题</string>
</dict>
</plist>
